.footer {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: #33323f;
    color: white;
    font-size: 16px;
}

.footer-info {
    display: flex;
    justify-content: space-between; /* Ensure even space between columns */
    align-items: flex-start; /* Align items to the top to avoid vertical misalignment */
    width: 100%;
}

.footer-info-left,
.footer-info-center,
.footer-info-right {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    width: 30%; /* Ensure each column takes up 30% width */
    text-align: center;
    align-items: center; /* Ensure content inside each column is centered horizontally */
    height: 4vh;
}

.footer-info__name,
.footer-extra-resources,
.footer-info-about,
.footer-info__number,
.footer-our-story {
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
}

.footer-info__returns,
.footer-info__terms {
    color: white;
}

.footer-info__number,
.footer-info__contact {
    text-align: end;
    color: white;
}

.footer-date {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-separator {
    flex-grow: 1;
    border: none;
    height: 1px;
    background-color: white;
    width: 100%;
}

.footer-name {
    display: flex;
    justify-content: center;
}

.footer-bottom__name {
    text-transform: uppercase;
    font-family: 'RobotoBold';
    font-size: 18px;
}
