html, body, #root, .App {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url('../assets/background-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.home-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.content-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8); /* Light background container */
  border-radius: 8px; /* Optional: for rounded corners */
  padding: 3rem; /* Space around text */
}

.title h1 {
  color: var(--primary);
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: normal;
}

.title h2 {
  margin-top: 20px;
  font-size: 2.6rem;
  color: var(--secondary); /* Override for H2 color */
}

.title p {
  margin-top: 20px;
  color: var(--secondary); /* Override for P color */
}

.get-started-btn {
  background-color: var(--primary);
  border-color: var(--primary);
  color: white;
  margin-top: 20px;
  padding: 1.25rem 2.25rem;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  z-index: 1;
}

.get-started-btn:hover {
  background-color: rgb(236, 226, 236);
  color: var(--primary);
  z-index: 1;
}

:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: white;
}

.btn-primary:hover {
  background-color: white;
  color: var(--primary);
}
